/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Add in your own customisations */
header{
    background-color:#93d0f4 ;
    text-align: center;
    padding: 20px 0;
}
h1{color: white;}
body{background-color: #ddd;
}
table{
    border-collapse: collapse;
    background-color: #ddd;
    padding: 10px;
    padding-left: 10px;
    text-align: left;
    width: 100%;
}
th,td{
    padding: 10px;
    padding-left: 10px;
}
main{padding-top: 20px;
padding-bottom: 20px;
}
section{padding: 20px;}
li{color:#0079c1;}
ul{padding-left: 10px;}
footer{
    color: white;
    background-color:#93d0f4;
text-align: center;
padding: 10px;}